.title {
  text-align: center;
  font-weight: 500;
  font-size: xx-large;
  color: #595959;
}

.small {
  font-size: x-large;
  text-align: left;
}

.pop_up {
  width: 200px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 150px;
  right: -200px !important;
  border: 10px solid #8cbdb9;
  padding: 10px;
}

.wrong {
  border: 15px solid #e09e50 !important;
}

.choices {
  font-size: large;
}

#correctexplan {
  width: 300px;
  border: 15px solid #8cbdb9;
}

.right {
  float: right;
}

.left {
  float: left;
}

.image {
  height: 400px;
}