.title {
  text-align: center;
  font-weight: 500;
  font-size: xx-large;
  color: #595959;
}

.button1 {
  color: white;
  background-color: #8cbdb9;
  width: 100px;
  height: 45px;
  margin: 5px;
  text-align: center;
  border: none;
  border-radius: 8px;
}

.button1:hover {
  background-color: #2d3e4e;
}

.button2 {
  color: #595959;
  background-color: #e8eceb;
  width: 100px;
  height: 45px;
  margin: 5px;
  text-align: center;
  border: none;
  border-radius: 8px;
}

.button2:hover {
  background-color: #2d3e4e;
  color: white;
}

.width {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button3 {
  color: white;
  background-color: #e09e50;
  width: 100px;
  height: 45px;
  margin: 5px;
  text-align: center;
  border: none;
  border-radius: 8px;
}

.button3:hover {
  background-color: #2d3e4e;
}

.center {
  position:relative;
  left:45%;
}

.container-fluid {
  background-color: #2d3e4e;
}

ul {
  background-color: #2d3e4e;
  color: white;
}

a {
  color: white;
}
.navbar-brand:hover {
  none;
}

.navbar-text {
  color: white;
  margin: 0px;
}

.active {
  color: #8cbdb9;
}

.nocolor {
  background-color: transparent !important;
}

.navbar-header:hover {
  /* background-color: white; */
  color: white;
  cursor: default;
}