.static-img {
    height: 300px;
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: xx-large;
    color: #2d3e4e
}

.paragraph {
    font-size: large;
    padding: 6px;
    color: #595959;
    font-size: 20px;
}

.setting {
    font-size: large;
    font-weight: 900;
}
.right-align {
    float: right;
}