{% extends "layout.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='assessment.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='assessment_start.js') }}"></script>
</head>

<script>
     currq = parseInt({{ question_to_review }})
</script>

<body>
    <div class="title">
        Ready to Start the Quiz?
    </div>
    <br><br>
    <button class="button1 center" id="startbutton">Start Quiz</button>

</body>

{% endblock %}