{% extends "layout.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='assessment.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='assessment_question.js') }}"></script>
</head>

<script>
    let data = {{ data| tojson}}
    let nextq = parseInt(data.nextqnumber, 10);
    let currq = parseInt(data.currentqnumber, 10);
    let correct_ans = parseInt(data.correctanswer, 10);
</script>

<body>
    <div class="row">
        <br> <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br> <br>
            <div class="title small data_questiontext"> {{data.text}} </div>
            <br> <br>
            <form class="choices">
                <input name="test" type="radio" value="0" /> A) {{data.choice0}} <br>
                <input name="test" type="radio" value="1" /> B) {{data.choice1}} <br>
                <input name="test" type="radio" value="2" /> C) {{data.choice2}} <br>
                <input name="test" type="radio" value="3" /> D) {{data.choice3}}
            </form>
            <br>
            <div class="row">
                <button id="reviewbutton" class="button2 left" type="button">Review</button>
                <button id="nextbutton" class="button1 right" type="button">Next Question</button>
                <button id="submitbutton" class="button3 right" type="button">Check Answer</button>
            </div>

        </div>
        <div class="col-md-6">
            <img class="image" alt="image for question" src={{data.image}}>
            <div class="row">
                <div id="correctexplan" class="pop_up wrong ">
                    <b>Not quite!</b> <br>
                    {{data.explanation_text}}
                    <menu>
                        <button class="okbtn button2">Ok</button>
                    </menu>
                </div>
            
                <div id="confirmation" class="pop_up">
                    <b>You're Correct!</b> <br>
                    {{data.explanation_text}}
                    <menu>
                        <button class="okbtn button2">Ok</button>
                    </menu>
                </div>
            </div>
        </div>

    </div>

    

</body>


{% endblock %}