{% extends "layout.html" %} {% block content %}


<script>
    let data = {{ data| tojson}}

    let nextq = data.nextqnumber;

    let currq = data.currentqnumber;

    let correct_ans = parseInt(data.correctanswer,10);



    function update_userscore(correct_tally) {
        let data_to_add = correct_tally
        // console.log(data_to_add)
        $.ajax({
            type: "POST",
            url: "/update_userscore",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data_to_add),
            success: function (result) {
                print(result)
            },
            error: function (request, status, error) {
                console.log("Error");
                console.log(request)
                console.log(status)
                console.log(error)
            }
        });

    }

    function review_currquestion(currq){
        let data_to_add = currq
        $.ajax({
            type: "POST",
            url: "/review_currquestion",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data_to_add),
            success: function (result) {

            },
            error: function (request, status, error) {
                console.log("Error");
                console.log(request)
                console.log(status)
                console.log(error)
            }
        });


    }


    $(document).ready(function () {


        $('#nextbutton').click(function () {
            url =window.location.href = "/assessment/" + nextq;
            // console.log(url)
            window.location.href = "/assessment/" + nextq;
        });

        $('input[name="test"]').click(function () {
            let user_ans = $(this).val();
            // console.log("user_ans" + user_ans)
            // console.log("correct_answer" + correct_ans)
            if (user_ans == correct_ans) {
                let correct_tally = 1;
                update_userscore(correct_tally);

            }
            else {
                let correct_tally = 0;
                update_userscore(correct_tally);

            }
        });

        $('#reviewbutton').click(function () {
            review_currquestion(currq);
            window.location.href = "/lesson";
        });


    });




</script>


<div class=data_questiontext> {{data.text}} </div>

<div class=image> <img alt="image for question" src={{data.image}}> </div>




<form class="choices">
    <input name="test" type="radio" value="0" /> A) {{data.choice1}} <br>
    <input name="test" type="radio" value="1" /> B) {{data.choice2}} <br>
    <input name="test" type="radio" value="2" /> C) {{data.choice3}} <br>
    <input name="test" type="radio" value="3" /> D) {{data.choice4}}
</form>


<button id="nextbutton" class="btn-styled" type="button">Next Question</button>
<button id="reviewbutton" class="btn-styled" type="button">Review</button>

{% endblock %}