{% extends "layout.html" %} {% block content %}

<head>
	<link rel="stylesheet" href="{{url_for('static', filename='lesson.css')}}" />
</head>

<script>
	let images = {{ images| tojson}};
</script>

<script>
	$(document).ready(function () {
		$("#slider-output").hide()
		$("#setting").text(images[0][1])
		$("#image").attr("src", images[0][0])

		$("#slider").on("input change", function () {
			updateView()
		});

		$('#next').click(function () {
            window.location.href = "/lesson";
        });

		$('#lesson').click(function () {
            window.location.href = "/lesson/{{lesson_topic}}";
        });
	});

	function updateView() {
		let num = $("#slider-output").text();
		$("#image").attr("src", images[num][0])
		$("#setting").text(images[num][1])
	}
</script>

<body>
	<div class="title">
		{{title}} Interactive Lesson
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
			<input id="slider" type="range" value="0" min="0" max={{num_images}} step="1"
				oninput="this.nextElementSibling.value = this.value">
			<output id="slider-output"></output>
			<br>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div id="setting"></div>
		</div>
		<div class="col-md-8">
			<img id="image" class="inter-img" alt="image for interactive element" src="">
		</div>
	</div>

</body>
<br>
<button id="lesson" class="button2 width">{{title}} Lesson</button>
<button id="next" class="button3 right-align">Next</button>
{% endblock %}