{% extends "layout.html" %} {% block content %}

<head>

    <script type="text/javascript" src="{{ url_for('static', filename='lesson.js') }}"></script>
</head>

<script>
    let iso_visit = parseInt({{ iso_visit }})
    let spd_visit = parseInt({{ spd_visit }})
    let ape_visit = parseInt({{ ape_visit }})
    let currq = parseInt({{ question_to_review }})
</script>

<body>
    <div class="row title">Lessons</div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">

            <button id="learn_iso" class="lesson button2 width"> Learn Iso </button>
            <br>
            <button id="learn_iso_inter" class="lesson button2 width">Learn Iso Interactively</button>
            <br>
            <br>
            <button id="learn_aper" class="lesson button2 width">Learn Aperture</button>
            <br>
            <button id="learn_aper_inter" class="lesson button2 width">Learn Aperture Interactively</button>
            <br>
            <br>
            <button id="learn_ss" class="lesson button2 width">Learn Shutter Speed</button>
            <br>
            <button id="learn_ss_inter" class="lesson button2 width">Learn Shutter Speed Interactively</button>
            <br>
            <br>
        </div>
    </div>


    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button id="quiz" class="button1 right-align">Quiz Now</button>
        </div>
    </div>

</body>
{% endblock %}