{% extends "layout.html" %} {% block content %}

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='lesson.css')}}" />
  <script type="text/javascript" src="{{ url_for('static', filename='lesson_static.js') }}"></script>
</head>

<script>
  let lesson_topic = {{lesson_topic | tojson}}
</script>

<body>
  <div class="title">
    {{title}} Lesson
  </div>
  {% for d in desc %}
  <p class="row paragraph">&emsp;&emsp;&emsp;{{d}}</p>
  {% endfor %}
  <div class="row">
    <div class="col-md-5">
      <span class="setting">&emsp;{{setting1}}</span>
      <br><img class="static-img" alt="image for question" src={{image1}}>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <span class="setting">&emsp;{{setting2}}</span>
      <br><img class="static-img right-align" alt="image for question" src={{image2}}>
      <br>
      <button id="nextlesson" class="button3 right-align">Next</button>
    </div>
  </div>
</body>

{% endblock %}