{% extends "layout.html" %} {% block content %}

<script> 
$(document).ready(function () {
    $("#quiz").click(function (event){
        window.location = "/assessment_start"
    })

    $("#learn_iso").click(function (event){
        window.location = "/lesson/iso"
    })

    $("#learn_aper").click(function (event){
        window.location = "/lesson/aperture"
    })

    $("#learn_ss").click(function (event){
        window.location = "/lesson/shutter_speed"
    })

    $("#learn_iso_inter").click(function (event){
        window.location = "/lesson/interactive/iso"
    })
    
    $("#learn_aper_inter").click(function (event){
        window.location = "/lesson/interactive/aperture"
    })

    $("#learn_ss_inter").click(function (event){
        window.location = "/lesson/interactive/shutter_speed"
    })


});
</script>

<div id="basic-lessons">
iso, explore iso, aperture, explore aperture, shutter speed, explore shutter speed
</div>
<br>
<div id="deeper-dive-lessons">realtion between stuff</div>

<button id="quiz">Quiz Now</button>


<button id="learn_iso"> Learn Iso </button>

<button id="learn_aper">Learn Aperture</button>

<button id="learn_ss">Learn Shutter Speed</button>

<button id="learn_iso_inter">Learn Iso Interactively</button>

<button id="learn_aper_inter">Learn Aperture Interactively</button>

<button id="learn_ss_inter">Learn shutterspeed Interactively</button>
{% endblock %}