{% extends "layout.html" %} {% block content %}
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='lesson.css')}}" />
  </head>

<script>
	let images = {{images|tojson}};
</script>

<script>
	$(document).ready(function () {
		// $("#slider-output").hide()
		$("#image").attr("src", images[0])

		$("#slider").change(function (){
			console.log(1)
			updateView()
		});
	});

	function updateView(){
		let num = $("#slider-output").text();

		$("#image").attr("src", images[num])
	}
</script>

<input id="slider" type="range" value="0" min="0" max={{num_images}} step="1" oninput="this.nextElementSibling.value = this.value">
<output id="slider-output"></output>
<img id="image" class="static-img" alt="image for interactive element" src="">


<button id="lesson">Back to Lesson</button>
{% endblock %}